@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: #fff;
}

.hero {
  background: radial-gradient(circle at right, #2b2b2b, #000);
  color: #fff;
  padding: 80px 0;
}

.hero__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__category {
  color: #00ff66;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.hero__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}

.hero__timer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.hero__time-box {
    display: grid;
  background-color: #fff;
  color: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  padding-top: 23px;
}

.hero__time-number {
  font-size: 20px;
  font-weight: 700;
}

.hero__time-label {
  font-size: 12px;
  padding-bottom: 20px;
}

.hero__button {
  background-color: #00ff66;
  color: white;
  padding: 16px 40px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}



.hero__image {
  width: 520px;
}

/* ================= PRODUCTS ================= */
.products {
  padding: 80px 0;
}

.products__container {
  width: 1200px;
  margin: 0 auto;
}

.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.products__label {
  font-size: 14px;
  cursor: pointer;
}

.products__title {
  font-size: 32px;
  font-weight: 700;
}

.products__arrows {
  display: flex;
  gap: 10px;
}

.products__arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}



.product-card__image-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.product-card__image {
  width: 100%;
}

.product-card__actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-card__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.product-card__title {
  font-size: 16px;
  margin-bottom: 8px;
}

.product-card__price {
  color: red;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-card__rating {
  font-size: 14px;
  color: orange;
}

.products__button {
  margin: 50px auto 0;
  display: block;
  padding: 14px 40px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
