@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
 
}
/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 135px 16px 135px;
  border-bottom: 0.5px solid rgb(212, 201, 201);
}

.navbar__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  color: black;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  transition: 0.5s ease;
}

.nav__list__item:hover {
  text-decoration: underline;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.navbar__right img {
  cursor: pointer;
}

.navbar__form {
  width: 243px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: black;
  outline: none;
  border: none;
  background: none;
}

.form__btn {
  background: none;
  border: none;
}

.cart {
  max-width: 1200px;
  margin: 40px auto;
}

.cart__breadcrumb {
  color: #888;
  margin-bottom: 32px;
  cursor: pointer;
}

.cart__table {
  border-radius: 6px;
}


.cart__head, 

.cart__row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
  background: #fff;
  margin-bottom: 16px;
}

.pult2{
    width: 20px;
    height: 20px;
  
}
.screen2{
    width: 20px;
    height: 20px;
}

.cart__product {
  display: flex;
  align-items: center;
  gap: 12px;
}


.cart__qty {
  width: 60px;
  padding: 6px;
}

.cart__actions {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.cart__btn {
  padding: 12px 24px;
  border: 1px solid #999;
  background: #fff;
  cursor: pointer;
}

.cart__bottom {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.cart__coupon input {
  padding: 12px;
  width: 220px;

}

.cart__coupon button {
  padding: 14px 20px;
  background: #db4444;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart__total {
  border: 1px solid #000;
  padding: 24px;
  width: 320px;

}

.cart__total-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}



.cart__checkout {
    cursor: pointer;
  width: 100%;
  padding: 14px;
  background: #db4444;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.footer__container {
  padding: 80px 135px 24px 135px;
  background-color: #000000;
}

.footer__flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 87px;
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 24px;
  color: #fafafa;
}

.footer__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 24px;
  color: #fafafa;
}

.footer__text__box {
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: #fafafa;
}

.footer__mini__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #fafafa;
}

.footer__form {
  padding: 12px 15px 12px 16px;
  display: flex;
  align-items: center;
  border: 1.5px solid #fafafa;
  border-radius: 4px;
  gap: 32px;
}

.footer__form__input {
  width: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  opacity: 40%;
  color: #fafafa;
  border: none;
  outline: none;
  background: none;
}

.footer__form__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.footer__source__box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.download__box img:first-child {
  padding: 5px 3px;
  background-color: #030406;
}

.footer__social__box {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__social__box img {
  cursor: pointer;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 16px;
    margin-top: 60px;
    border-top: 1px solid #a59f9f;
}

.footer__bottom p {
    margin: 0;
    color: #F9F9F933;

}