.contact__container {
  padding: 80px 135px 140px 135px;
}

.navbar__title{
  color: #000;
}
.contact__flex {
  display: flex;
  align-items: first baseline;
  gap: 30px;
}

.contact__top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact__top__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 80px;
}

.contact__top__link:first-child {
  display: flex;
  gap: 12px;
}

.contact__top__link:active {
  opacity: 50%;
}

.contact__left {
  box-shadow: 0px 1px 13px 0px #0000000d;
  background-color: #ffffff;
  padding: 40px 35px 51px 35px;
}

.contact__left__box:first-child {
  width: 270px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.contact__left__top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.contact__left__miniTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}

.contact__left__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 16px;
}

.contact__input__box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.contact__input {
  width: 235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 13px 16px 13px 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  color: rgb(200, 200, 200);
}

.contact__big__input {
  width: 737px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 13px 16px 170px 16px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  color: rgb(200, 200, 200);
}

.contact__btn__box {
  display: flex;
  justify-content: flex-end;
}

.contact__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 16px 48px;
  border-radius: 4px;
  border: none;
  background-color: #DB4444;
  color: #fafafa;
  cursor: pointer;
  margin-top: 32px;
}
