@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 135px; */
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: black;
  background-position: 100%;
  padding-left: 200px;
  gap: 231px;
}

.top__links {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #fafafa;
}

.top__links__bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #fafafa;
  margin-left: 8px;
}

.header__top__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 135px 16px 135px;
  border-bottom: 0.5px solid rgb(212, 201, 201);
}

.navbar__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  transition: 0.5s ease;
}

.nav__list__item:hover {
  text-decoration: underline;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.navbar__form {
  width: 243px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: black;
  outline: none;
  border: none;
  background: none;
}

.form__btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Hero */

.hero__container {
  padding: 0 135px 152px 135px;
  display: flex;
  /* align-items: center; */
}

.hero__left {
  border-right: 1px solid rgb(212, 201, 201);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 16px;
  padding-top: 40px;
}

.hero__left__linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 217px;
}

.hero__left__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
}

.hero__right {
  width: 892px;
  margin-left: 44px;
  background-color: black;
  margin-top: 28px;
  padding: 16px 0 11px 64px;
}

.hero__right__flex {
  display: flex;
  align-items: center;
}

.hero__apple__box {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 20px;
}

.hero__right__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fafafa;
}

.hero__right__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 4%;
  color: #fafafa;
  margin-bottom: 22px;
}

.hero__right__showBox {
  display: flex;
  align-items: center;
  gap: 11px;
}

.hero__right__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fafafa;
  border-bottom: 1px solid #fafafa;
  padding-bottom: 4px;
}

.hero__right__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Flash */

.flash__container {
  padding: 0 135px 60px 135px;
  border-bottom: 0.5px solid rgb(212, 201, 201);
}

.flash__top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.flesh__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #db4444;
}

.flash__sale__box {
  display: flex;
  align-items: last baseline;
  gap: 87px;
  margin-top: 13px;
}

.flash__title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4%;
  color: black;
}

.flash__clock__box {
  display: flex;
  align-items: center;
}

.clock__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 4px;
}

.clock {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 4%;
  color: black;
}

.marked {
  margin: 0 17px;
  color: #e07575;
}

.flash__arrow__box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 380px;
}

.flesh__arrows {
  padding: 11px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

/* flash card */

.flash__card {
  width: 270px;
  margin-top: 40px;
}

.flash__card__top {
  position: relative;
  background-color: #f5f5f5;
  padding: 49px;
}

.flash__card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  margin: 16px 0 8px 0;
}

.flash__card__costBox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.flash__card__cost {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #db4444;
}

.flash__card__cost:last-child {
  text-decoration: line-through;
  color: black;
  opacity: 50%;
}

.flash__card__bottom {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__rate {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: black;
  opacity: 50%;
  margin-left: 3px;
}

.flash__card__sale {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  padding: 4px 12px;
  color: #fafafa;
  border-radius: 4px;
  background-color: #db4444;
}

.flash__card__like {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}

.flash__card__like:last-child {
  top: 54px;
}

.flash__btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 16px 48px;
  border-radius: 4px;
  margin-top: 60px;
  cursor: pointer;
  background-color: #db4444;
  color: #fafafa;
}

/* main */

.main {
  background: radial-gradient(circle at right, #2b2b2b, #000);
  color: #fff;
  padding: 80px 0;
}

.main__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__category {
  color: #00ff66;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.main__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}

.main__timer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.main__time-box {
    display: grid;
  background-color: #fff;
  color: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  padding-top: 23px;
}

.main__time-number {
  font-size: 20px;
  font-weight: 700;
}

.main__time-label {
  font-size: 12px;
  padding-bottom: 20px;
}

.main__button {
  background-color: #00ff66;
  color: white;
  padding: 16px 40px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}



.main__image {
  width: 520px;
}

/*  PRODUCTS  */
.products {
  padding: 80px 0;
}

.products__container {
  width: 1200px;
  margin: 0 auto;
}

.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}


.products__label {
  font-size: 15px;
  cursor: pointer;
  color: darkred;
  
}

.products__title {
  font-size: 32px;
  font-weight: 700;
}

.products__arrows {
  display: flex;
  gap: 10px;
}

.products__arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}



.product-card__image-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.product-card__image {
  width: 100%;
}

.product-card__actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-card__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.product-card__title {
  font-size: 16px;
  margin-bottom: 8px;
}

.product-card__price {
  color: red;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-card__rating {
  font-size: 14px;
  color: orange;
}

.products__button {
  margin: 50px auto 0;
  display: block;
  padding: 14px 40px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
