.login__container {
	padding: 60px 135px 140px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login__title {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 30px;
	letter-spacing: 4%;
	margin-bottom: 24px;
	color: black;
}

.login__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	margin-bottom: 48px;
	color: black;
}

.login__img {
	padding-top: 75px;
	background-color: #cbe4e8;
}

.login__form {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.password-hide {
	position: relative;
}

.password-hide-toggle {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.login__input {
	padding: 8px;
	width: 370px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	padding-bottom: 8px;
	outline: none;
	border: none;
	color: #000;
	border-bottom: 1px solid #000000;
}

.login__btn__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login__btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	padding: 16px 48px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #fafafa;
	background-color: #db4444;
}

.login__forgot__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: #db4444;
}
