@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

input {
  outline: none;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
  padding: 0 135px;
}

.navbar__title{
  color: #000;
}
.top__header {
  background-color: black;
}

.top__container {
    padding: 0 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .user__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 140px;
  }
  
  .top__marked {
    color: #e74c3c;
  }


  


  /* body{
    background:#fafafa;
    color:#333;
  } */
  
  /* TOP */
  /* .top{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:25px 60px;
    font-size:14px;
    color:#888;
  }
  
  .top span{
    color:#e74c3c;
  } */
  
  /* MAIN */
  /* .container{
    display:flex;
    gap:40px;
    padding:40px 60px;
  } */
  
  /* SIDEBAR */
  .sidebar{
    width:260px;
  }
  
  .sidebar h4{
    margin-bottom:10px;
    font-size:16px;
  }
  
  .sidebar ul{
    list-style:none;
    margin-bottom:30px;
  }
  
  .sidebar ul li{
    padding:8px 0;
    font-size:14px;
    color:#888;
    cursor:pointer;
  }
  
  .sidebar ul li:hover{
    color:#e74c3c;
    transition: 0.5s ease;
  }
  
  /* CONTENT */
  .content{
    flex:1;
    background:#fff;
    padding:40px;
    border-radius:6px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
  }
  
  .content h2{
    color:#e74c3c;
    margin-bottom:25px;
    font-size:20px;
  }
  
  /* FORM */
  .form-row{
    display:flex;
    gap:25px;
    margin-bottom:20px;
  }
  
  .form-group{
    flex:1;
  }
  
  .form-group label{
    display:block;
    font-size:14px;
    margin-bottom:6px;
  }
  
  .form-group input{
    width:100%;
    padding:12px 14px;
    border:none;
    background:#f3f3f3;
    border-radius:4px;
    outline:none;
  }
  
  /* PASSWORD */
  .password{
    margin-top:30px;
  }
  
  .password label{
    display:block;
    margin-bottom:10px;
    font-size:14px;
  }
  
  .password input{
    width:100%;
    margin-bottom:15px;
    padding:12px 14px;
    border:none;
    background:#f3f3f3;
    border-radius:4px;
  }
  
  /* BUTTONS */
  .buttons{
    display:flex;
    justify-content:flex-end;
    gap:20px;
    margin-top:30px;
  }
  
  .cancel{
    background:none;
    border:none;
    color:#333;
    font-size:14px;
    cursor:pointer;
  }
  
  .save{
    background:#e74c3c;
    color:#fff;
    border:none;
    padding:12px 28px;
    border-radius:4px;
    cursor:pointer;
  }
  

  .footer__container {
    padding-top: 80px;
  }