@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 135px; */
}
/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 135px 16px 135px;
  border-bottom: 0.5px solid rgb(212, 201, 201);
}

.navbar__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  color: black;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  transition: 0.5s ease;
}

.nav__list__item:hover {
  text-decoration: underline;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.navbar__right img {
  cursor: pointer;
}

.navbar__form {
  width: 243px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: black;
  outline: none;
  border: none;
  background: none;
}

.form__btn {
  background: none;
  border: none;
}

.wishlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
}

.wishlist-header__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #000;
}

.wishlist-header__count {
  font-weight: 400;
}

.wishlist-header__button {
  padding: 14px 28px;
  background-color: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.wishlist-header__button:hover {
  background-color: #f5f5f5;
}

.wishlist-header__divider {
  width: 100%;
  height: 2px;
  /* background-color: #000; */
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 40px 48px;
}

/* CARD */
.product {
  font-family: sans-serif;
}

/* IMAGE BLOCK */
.product__image {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 24px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
}

/* DELETE ICON */
.product__delete {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
}

/* ADD TO CART */
.product__cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.product__cart p {
  margin: 0;
  font-size: 14px;
}

/* TEXT */
.product__title {
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.product__price {
  color: #db4444;
  font-size: 18px;
  font-weight: 600;
}

.sumka{
    margin-bottom: 47px;
}
.kurtka{
    margin-bottom: 20px;
}
.laptop{
    margin-bottom: 20px;
}
.rating__card{
    font-size: 14px;
  color: orange;
}
.span{
    color: #9a9a9a;
}
.footer__container {
  padding: 80px 135px 24px 135px;
  background-color: #000000;
}

.footer__flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 87px;
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 24px;
  color: #fafafa;
}

.footer__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 24px;
  color: #fafafa;
}

.footer__text__box {
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: #fafafa;
}

.footer__mini__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #fafafa;
}

.footer__form {
  padding: 12px 15px 12px 16px;
  display: flex;
  align-items: center;
  border: 1.5px solid #fafafa;
  border-radius: 4px;
  gap: 32px;
}

.footer__form__input {
  width: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  opacity: 40%;
  color: #fafafa;
  border: none;
  outline: none;
  background: none;
}

.footer__form__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.footer__source__box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.download__box img:first-child {
  padding: 5px 3px;
  background-color: #030406;
}

.footer__social__box {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__social__box img {
  cursor: pointer;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 16px;
    margin-top: 60px;
    border-top: 1px solid #a59f9f;
}

.footer__bottom p {
    margin: 0;
    color: #F9F9F933;

}